<!-- <div class='container'>
  <div id='about_page'>
    <h3> Want to learn more about me? </h3>
    <p> Hey keep up with me! </p>
    <p> Follow me on Twitter -->
    <!-- <h1>Highlights on me:</h1>
      <ul>
        <li>UC Irvine 2015</li>
        <li>Dev Bootcamp 2017</li>
      </ul> -->

<!-- 

  </div>
</div> -->
