@import "bootstrap-sprockets";
@import "bootstrap";

.navigation-custom-bar {

  padding-bottom: 1px;

}
.nav-item {
  padding-right: .6em;
  list-style-type: none;
}

.name {
  text-align: center;
  z-index: 2;
  font-size: 3em;
}

.nav-link-custom {
  color: white;
}

.navbar {
  background-color: #33454e;
}

#btn-override {
  background-color: #e6a06f;

}

#bootstrap-override {
  border-bottom: 3px #e6a06f solid;
  padding-bottom: 5px;
  margin: 0 auto;
  clear: both;
}


// bootstrap editing

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        background-color: #e6a06f;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
        border-bottom: 3px #e6a06f solid;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
